.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    background-color: #FFFAF8;
}

.subContainer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #FFFAF8;
    width: auto;
    height: 200px;
}

.loginInput {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
    justify-content: center;
    justify-items: center;
}

.loginInput input {
    max-width: 180px;
}

.loginInput button {
    background-color: #038929;
    color: #ffffff;
}

.loginInput span {
    font-size: 0.8rem;
    color: #038929;
    text-align: center;
    margin-top: 5px;
}

.container p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: #FFDED3;
}

.error {
    height: 10px;
}

.error p {
    height: 20px;
    color: red;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 2px;
}
