.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
    height: 100%;
}

.container label {
    color: #FFAF84;
}

.container input[type="checkbox"] {
    appearance: none;
    border: 2px solid #FF9A62;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    flex-shrink: 0;
}

.container input[type="checkbox"]:checked {
    background-color: #00641C;
    border-color: #FF9A62;
}
