.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 0.4rem;
  box-sizing: border-box;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.4rem;
}

@media (min-width: 601px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 901px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filter {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10px;
  outline: none;
}

.filter input {
  border: 1px solid #FF9A62;
  border-radius: 5px;
  background-color: #FFF6F1;
  color: #c15111;
  outline: none;
  padding: 5px 10px;
}

.filter input::placeholder{
  color: #FF9A62;
  font-family: 'Roboto', sans-serif;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.addError {
  margin: 10px;
  text-align: center;
  color: #c15111;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 10px;
  min-width: 0;
}

.cardProduct {
  display: grid;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
  grid-template-columns: 1fr 1fr;
  flex-grow: 4;
  min-width: 0;
  cursor: pointer;
}
.cartIcon {
  max-width: 30px;
}

.trashIconDiv {
  align-content: center;
  width: 30px;
}

.trashIconDiv img {
  max-width: 30px;
}

.product {
  grid-column: span 2;
  padding: 3px 10px;
  color: #00641C;
  overflow-wrap: break-word;
}

.badge {
  padding: 3px 10px;
  color: #169E3C;
  font-weight: lighter;
  overflow-wrap: break-word;
}

.price {
  justify-self: end;
  padding: 3px 10px;
  color: #169E3C;
  font-weight: lighter;
  overflow-wrap: break-word;
}









